name: Perl CPAN-style CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl:
          - '5.40'
          - '5.38'
          - '5.36'
          - '5.34'
          - '5.32'
          - '5.30'

    container: perldocker/perl-tester:${{ matrix.perl }}

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          # First generate MYMETA.json / MYMETA.yml
          perl Makefile.PL
          # Then let cpanm read the fresh metadata
          cpanm --quiet --notest --installdeps .

      - name: Build & test
        run: |
          perl Makefile.PL
          make
          prove -lr --timer t/
